<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock title %} Trusted Hands</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Trusted Hands</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/donate">Donate us</a>
              </li>
              {% comment %} <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/services" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Services & Activities
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Activities</a></li>
                  <li><a class="dropdown-item" href="#">Programs</a></li>
                  <li><hr class="dropdown-divider"></li>
                  
                </ul> {% endcomment %}
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact us</a>
                  </li>
            </ul>
            {% comment %} <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form> {% endcomment %}
          </div>
        </div>
      </nav>

      {% if messages%}

      {% for message in messages %}
      <div class="alert alert-{{ message.tags }} primary d-flex align-items-center my-0" role="alert">
        {% comment %} <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
          <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </svg> {% endcomment %}
        {{ message }}
      </div>
      {% endfor %}
      {% endif %}

      {% block body %}{% endblock body %}

      <section class="pt-15 bg-light">
        <footer class="site-footer bg-dark">
          <div class="container">
      
            <ul class="nav justify-content-center">
              <li class="nav-item">
                <a class="nav-link" href="#">Privacy policy</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Terms</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Feedback</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="tel:+91 8416091456">Call:+91 8416091456</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="mailto:trustedhandsngo@gmail.com">Email:trustedhandsngo@gmail.com</a>
              </li>
              
            </ul>
            <div class="copy">
              © Trusted Hands 2022<br>
              All rights reserved
            </div>
            
          </div>
          
        </footer>
      </section>
      
</body>
</html>